<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>

        <link rel="stylesheet" href="vendor/jquery-mobile/jquery.mobile-1.2.0.min.css"/>

        <script src="vendor/jquery-1.8.2.min.js"></script>
        <script src="vendor/jquery-mobile/jquery.mobile-1.2.0.min.js"></script>
        <script src="vendor/underscore-min.js"></script>

        <script src="lib/angular/angular.min.js"></script>
        <script src="lib/angular/angular-resource.min.js"></script>
        <script src="services.js"></script>
        <script src="controllers.js"></script>
        <script src="app.js"></script>

        <<script type="text/javascript">
        $( document ).bind( "mobileinit", function() {
            $.support.cors=true;
            $.mobile.allowCrossDomainPages = true;
        });
        </script>
    <title>中医课堂</title>
</head>
   <body ng-app="zhongyi">

<div  ng-controller="IndexCtrl">

<div data-role="page" id="home">
    <div data-role="header">
        <h1>中医课堂</h1>
    </div><!-- /header -->
    <div data-role="content">  
         <p ng-click="selectLevel(1)"> <a data-role="button"  data-icon="arrow-r" data-iconpos="right">
                    初级
                </a>
            </p>
               <p ng-click="selectLevel(2)"> <a data-role="button" data-theme="e" href="#page1" data-icon="arrow-r" data-iconpos="right">
                    高级
                </a>
            </p>
                
    </div><!-- /content -->
    <div data-role="footer">
        <h4>学习中医，养护生命！</h4>
    </div><!-- /footer --> 
</div><!-- /page -->

<div data-role="page" id="answerQuestion">
    <div data-role="header">
        <h1>中医课堂</h1>
    </div><!-- /header -->
    <div data-role="content">  

        <div class="ui-grid-a">
            <div class="ui-block-a"> 
            <h2>
                {{grade.name}}
            </h2>
            </div>
            <div class="ui-block-b">
            <h2>
              第 {{number+1}} / {{total}} 题
            </h2>
            </div>
        </div>
        <div class="ui-grid-a">
            <div class="ui-block-a"> 
            <h2>
               {{score}} 分  
            </h2>
            </div>
            <div class="ui-block-b">
<div data-role="popup" data-transition="slidedown" id="answerOk" data-overlay-theme="a" class="ui-content">
     <p>恭喜，回答正确！<p>
</div>
 <div data-role="popup" id="answerError"  data-transition="slideup" data-overlay-theme="b" class="ui-content">
     <p>可惜，回答错误！<p>
</div>
    


            </div>
        </div>
       <p style="font-size:2em">{{currentQuestion.content}}</p> 
       <p ng-click="selectAnswer('A')"><a href="#two" data-role="button" >A:{{currentQuestion.A}}</a></p> 
       <p ng-click="selectAnswer('B')"><a href="#two" data-role="button">B: {{currentQuestion.B}}</a></p> 
       <p ng-click="selectAnswer('C')"><a href="#two" data-role="button">C: {{currentQuestion.C}}</a></p> 
       <p ng-click="selectAnswer('D')"><a href="#two" data-role="button">D: {{currentQuestion.D}}</a></p>       

    </div><!-- /content -->
    <div data-role="footer">
        <h4>学习中医，养护生命！</h4>
    </div><!-- /footer --> 
</div><!-- /page -->

<div data-role="page" id="answerResult">
    <div data-role="header">
        <h1>中医课堂</h1>
    </div><!-- /header -->
    <div data-role="content">  
        <div > 
            <h2>
                正确：{{rightNumber}}
            </h2>
            <h2>
                得分：{{score}}
            </h2>
            <a data-role="button"  ng-click="restart()">
                重新开始
            </a> 
            <a data-role="button"  href="#home">
                回到首页
            </a>   
        </div>
    </div><!-- /content -->
    <div data-role="footer">
        <h4>学习中医，养护生命！</h4>
    </div><!-- /footer --> 
</div><!-- /page -->

</div><!-- /controller -->
    </body>
</html>
