<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>

        <link rel="stylesheet" href="styles/jquery.mobile-1.2.0.min.css"/>
    <!-- make page testable for jasmine ui -->
    <script type="text/javascript">eval(sessionStorage.jasmineui);</script>

        <script src="scripts/vendor/jquery-1.8.2.min.js"></script>
        <script src="scripts/vendor/underscore-min.js"></script>
        <script src="lib/angular/angular.js"></script>
        <script src="lib/angular-ui/build/angular-ui.min.js"></script>
        <script src="lib/angular/angular-resource.js"></script>
        <script src="services.js"></script>
        <script src="controllers.js"></script>
        <script src="app.js"></script>
        <script src="lib/jquery-mobile/jquery.mobile.js"></script>
    <title>中医课堂</title>
</head>
   <body ng-app="zhongyi">

<div data-role="page">

    <div data-role="header">
        <h1>中医课堂-幼儿园</h1>
    </div><!-- /header -->

    <div data-role="content">  
 <div ng-controller="IndexCtrl"> 

       <p style="font-size:2em">{{currentQuestion.content}}</p> 
       <p ng-click="selectAnswer('A')"><a href="#two" data-role="button" >{{currentQuestion.A}}</a></p> 
       <p ng-click="selectAnswer('B')"><a href="#two" data-role="button">{{currentQuestion.B}}</a></p> 
       <p ng-click="selectAnswer('C')"><a href="#two" data-role="button">{{currentQuestion.C}}</a></p> 
       <p ng-click="selectAnswer('D')"><a href="#two" data-role="button">{{currentQuestion.D}}</a></p> 
<span>得分</span>{{score}}<a href="index.html" data-role="button" data-inline="true">下一题</a>

          
</div>


    </div><!-- /content -->
    
    <div data-role="footer">
        <h4>中医课堂页脚</h4>
    </div><!-- /footer -->
    
</div><!-- /page -->
<h2>中医课堂-幼儿园试题</h2>



       <p style="font-size:2em">下面哪项不属于中医的四诊？</p> 
       <p><a href="#two" data-role="button">望诊</a></p> 
       <p><a href="#two" data-role="button">问诊</a></p> 
       <p><a href="#two" data-role="button">号脉</a></p> 
       <p><a href="#two" data-role="button">推算</a></p> 
<span>得分</span><a href="index.html" data-role="button" data-inline="true">下一题</a>


        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
