<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>

        <link rel="stylesheet" href="vendor/jquery-mobile/jquery.mobile-1.2.0.min.css"/>


        <script src="vendor/jquery-1.8.2.min.js"></script>
        <script src="vendor/jquery-mobile/jquery.mobile-1.2.0.min.js"></script>
        <script src="vendor/underscore-min.js"></script>

        <script src="lib/angular/angular.min.js"></script>
        <script src="lib/angular/angular-resource.min.js"></script>
        <script src="services.js"></script>
        <script src="controllers.js"></script>
        <script src="app.js"></script>

        <<script type="text/javascript">
        $( document ).bind( "mobileinit", function() {
            $.support.cors=true;
            $.mobile.allowCrossDomainPages = true;
        });
        </script>
    <title>中医课堂</title>
</head>
   <body >

<div  ng-app="zhongyi" >

<div data-role="page" id="home">
    <div data-role="header">
        <h1>中医课堂</h1>
    </div><!-- /header -->
    <div data-role="content">  
 
        <p > <a data-role="button" href="#88s_index" data-icon="arrow-r" data-iconpos="right" data-transition="slide">
                88秒养生问答
            </a>
        </p>
 
        <p > <a data-role="button" href="#santong_intro" data-icon="arrow-r" data-iconpos="right" data-transition="slide">
                中医三通体检
            </a>
        </p>

        <p > <a data-role="button"  href="#zhishi_index" data-icon="arrow-r"  data-transition="slide" data-iconpos="right">
                中医知识测验
            </a>
        </p>      
    </div><!-- /content -->
    <div data-role="footer">
        <h4>学习中医，养护生命！</h4>
    </div><!-- /footer --> 
</div><!-- /page -->



<div data-role="page" id="88s_index">
    <div data-role="header">
        <h1>中医课堂</h1>
    </div><!-- /header -->
    <div data-role="content">  

        <p ng-click="selectLevel(88)"> <a data-role="button"  href="#anserquestion" data-icon="arrow-r"  data-iconpos="right">
                养生水平测试
            </a>
        </p>      

        <p > <a data-role="button"  href="＃answerQuestion" data-icon="arrow-r"  data-ajax="false" data-iconpos="right">
                全部题库
            </a>
        </p>          


    </div><!-- /content -->
    <div data-role="footer">
        <h4>学习中医，养护生命！</h4>
    </div><!-- /footer --> 
</div><!-- /page -->


<div data-role="page" id="santong_intro">
    <div data-role="header">
        <h1>中医课堂</h1>
    </div><!-- /header -->
    <div data-role="content">  
         <h2>
                    中医三通理论简介
                </h2>
                <h4>
                    中医自古以来就是从大环境来研究人体的。中医在源头经典《黄帝内经》时代就主张：“夫道者，上知天文，下知地理，中知人事，可以长久。”
                </h4>
                <h4>
                    据此，张流秀先生在《黄帝内经》理论基础上，梳理简化了判断身体状态的方法及调理手段，提出“中医三通”理论。
                </h4>
                <h4>
                    其主要内涵为：通过鼻窍、汗窍和毛窍，人体与天文环境的季候气象息息相通，这简称叫天通；通过口窍、肠窍和尿窍，人体与地理环境的水土物产息息相通，这简称叫地通；通过眼窍、耳窍、阴窍或乳窍等，人体与人事环境的人生际遇息息相通，这简称叫人通。
                </h4>
                <a data-role="button" href="#santong_index" data-icon="arrow-r" data-transition="slide" data-iconpos="right">
                    进入三通体质测试
                </a>
                
    </div><!-- /content -->
    <div data-role="footer">
        <h4>学习中医，养护生命！</h4>
    </div><!-- /footer --> 
</div><!-- /page -->


<div data-role="page" id="santong_index">
    <div data-role="header">
        <h1>中医课堂</h1>
    </div><!-- /header -->
    <div data-role="content">  

        <p ng-click="selectSantong('santongTiantong')"> <a data-role="button"  href="" data-icon="arrow-r"   data-transition="slide" data-iconpos="right">
                天通测试
            </a>
        </p>      

        <p > <a data-role="button"  href="anserquestion.html" data-icon="arrow-r"  data-transition="slide" data-iconpos="right">
                地通测试
            </a>
        </p>      
        <p > <a data-role="button"  href="anserquestion.html" data-icon="arrow-r"  data-transition="slide" data-iconpos="right">
                人通测试
            </a>
        </p>      


    </div><!-- /content -->
    <div data-role="footer">
        <h4>学习中医，养护生命！</h4>
    </div><!-- /footer --> 
</div><!-- /page -->



<div data-role="page" id="santong_answer">
    <div data-role="header">
        <h1>中医课堂</h1>
    </div><!-- /header -->
    <div data-role="content">  

        <div class="ui-grid-a">
            <div class="ui-block-a"> 
            <h2>
                {{grade.name}}
            </h2>
            </div>
            <div class="ui-block-b">
            <h2>
              第 {{number+1}} / {{total}} 题
            </h2>
            </div>
        </div>

       <p style="font-size:2em">{{currentQuestion.content}}</p> 
       <p ng-click="selectAnswer('A')"><a href="#two" data-role="button" >{{currentQuestion.A}}</a></p> 
       <p ng-click="selectAnswer('B')"><a href="#two" data-role="button">{{currentQuestion.B}}</a></p>    

    </div><!-- /content -->
    <div data-role="footer">
        <h4>学习中医，养护生命！</h4>
    </div><!-- /footer --> 
</div><!-- /page -->


<div ng-controller="IndexCtrl">
<div data-role="page" id="zhishi_index">
    <div data-role="header">
        <h1>中医课堂</h1>
    </div><!-- /header -->
    <div data-role="content">  
         <p ng-click="selectLevel(1)"> <a data-role="button"  data-icon="arrow-r" data-iconpos="right" data-transition="slide">
                    初级
                </a>
            </p>
               <p ng-click="selectLevel(2)"> <a data-role="button" data-theme="e" href="#page1" data-icon="arrow-r" data-transition="slide" data-iconpos="right">
                    高级
                </a>
            </p>
                
    </div><!-- /content -->
    <div data-role="footer">
        <h4>学习中医，养护生命！</h4>
    </div><!-- /footer --> 
</div><!-- /page -->



<div data-role="page" id="answerQuestion">
    <div data-role="header">
        <h1>中医课堂</h1>
    </div><!-- /header -->
    <div data-role="content">  

        <div class="ui-grid-a">
            <div class="ui-block-a"> 
            <h2>
                {{grade.name}}
            </h2>
            </div>
            <div class="ui-block-b">
            <h2>
              第 {{number+1}} / {{total}} 题
            </h2>
            </div>
        </div>
        <div class="ui-grid-a">
            <div class="ui-block-a"> 
            <h2>
               {{score}} 分  
            </h2>
            </div>
            <div class="ui-block-b">
                <div data-role="popup" data-transition="slidedown" id="answerOk" data-overlay-theme="a" class="ui-content">
                     <p>恭喜，回答正确！<p>
                </div>
                 <div data-role="popup" id="answerError"  data-transition="slideup" data-overlay-theme="b" class="ui-content">
                     <p>遗憾，回答错误！<p>
                </div>
    
            </div>
        </div>
       <p style="font-size:2em">{{currentQuestion.content}}</p> 
       <p ng-click="selectAnswer('A')"><a href="#two" data-role="button" >A:{{currentQuestion.A}}</a></p> 
       <p ng-click="selectAnswer('B')"><a href="#two" data-role="button">B: {{currentQuestion.B}}</a></p> 
       <p ng-click="selectAnswer('C')"><a href="#two" data-role="button">C: {{currentQuestion.C}}</a></p> 
       <p ng-click="selectAnswer('D')"><a href="#two" data-role="button">D: {{currentQuestion.D}}</a></p>       

    </div><!-- /content -->
    <div data-role="footer">
        <h4>学习中医，养护生命！</h4>
    </div><!-- /footer --> 
</div><!-- /page -->

<div data-role="page" id="answerResult">
    <div data-role="header">
        <h1>中医课堂</h1>
    </div><!-- /header -->
    <div data-role="content">  
        <div > 
            <h2>
                正确：{{rightNumber}}
            </h2>
            <h2>
                得分：{{score}}
            </h2>
            <a data-role="button"  ng-click="restart()">
                重新开始
            </a> 
            <a data-role="button"  href="#home">
                回到首页
            </a>   
        </div>
    </div><!-- /content -->
    <div data-role="footer">
        <h4>学习中医，养护生命！</h4>
    </div><!-- /footer --> 
</div><!-- /page -->
</div>

</div><!-- /controller -->
    </body>
</html>
